<div class="w-full h-full flex flex-wrap flex-row">

  <div class="w-[45%] bg-[#FAF9FF]">
    <div class="flex flex-wrap flex-row p-5">

      <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-row gap-3">
          <img src="./assets/icons/Menu.png" alt="Menu Icon" class="cursor-pointer w-[35px] h-[35px]">
          <h3 class="font-lato font-bold text-[20px] leading-[32px] tracking-[0px] text-[#1A1C1D]">
            Contacts
          </h3>
        </div>

        <div class="flex flex-row gap-1">
          <img src="./assets/icons/right_icon.png" alt="Right Icon" class="cursor-pointer w-[35px] h-[35px]">
          <img src="./assets/icons/left_icon.png" alt="Left Icon" class="cursor-pointer w-[35px] h-[35px]">
        </div>
      </div>

    </div>

    <hr class="border border-[#ECEEF5] my-2">

    <div>

        
    </div>

  </div>

  <div class="w-[55%] bg-white">
  </div>
</div>